* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans";
}

.container {
  margin: 0 auto;
  width: 98%;
  height: 100%;
}

.header {
  width: 100%;
  height: 10%;
  background-color: #000080;
}

.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
}

.content .pedido {
  display: flex;
  flex-direction: column;
}

.content .pedido .descricao {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5%;
}

.content .pedido .descricao .info-user {
  width: 26%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

#name-user {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #000000;
}

#data-pedido {
  margin-left: 1%;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;

  color: #7a8098;
}

.content .pedido .descricao .ficha {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

#title-ficha {
  font-weight: 300;
  font-size: 28px;
  color: #000000;
}

#number-ficha {
  font-weight: 700;
  font-size: 50px;
  color: #000000;
}

.content .pedido .descricao .info-pedido {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#status-pedido {
  border-radius: 4px;
  background-color: #ff9800;
  padding: 1% 3%;

  font-weight: 700;
  font-size: 22px;

  color: #ffffff;
  margin-right: 4%;
}

#title-amount {
  font-weight: 300;
  font-size: 28px;
  color: #000000;
}

#icon-cash {
  margin-left: 3%;
  margin-bottom: 2%;
}

#value-amount {
  font-weight: 700;
  font-size: 40px;

  color: #000000;
}

.content .pedido .card-pedidos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content .pedido .card-pedidos .card {
  margin-top: 1%;
  width: 20%;
  height: 150px;
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px 0px 0px 10px;
}

.content .pedido .card-pedidos .card .image {
  border-radius: 10px 0px 0px 10px;
  height: 100%;
  width: 30%;
  background-image: url("../comprar-produto/img/Copo_300ml.jpg");
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
}

.content .pedido .card-pedidos .card .info-product {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50%;
}

.content .pedido .card-pedidos .card .info-product .part-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}

#nome-product {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

#price-product {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: #000000;
}

.content .pedido .card-pedidos .card .info-product .part-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}

#length-product {
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}

#qtd-product {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ff0000;
}
